
@model IQueryable<PizzeriaASP.Models.Produkt>

@{
    ViewData["Title"] = "All products";
}

@Html.Partial("_H2Layout", "Admin Ingredients")

<div class="div-min-block">
    <table class="table table-striped, table-bordered table-sm">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>in Products</th>
            <th class="text-center">Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProduktId</td>
                <td>@item.ProduktNamn</td>
                <td>@item.MatrattProdukt.Count</td>
                <td class="text-center">
                    <form asp-controller="AdminIngredients" asp-action="DeleteIngredient" asp-route-id="@item.ProduktId" method="post">
                        <a asp-controller="AdminIngredients" asp-action="EditIngredient" asp-route-id="@item.ProduktId" class="btn btn-sm btn-warning">
                            <i class="icon-edit"></i> Edit
                        </a>
                        @if (!item.MatrattProdukt.Any())
                        {
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="icon-trash"></i> Delete
                            </button>
                        }
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="text-center div-clear-left">
        <a asp-action="AddIngredient" class="btn btn-primary">Add Ingredient</a>
    </div>
</div>
