
@using PizzeriaASP.Infrastructure
@model PizzeriaASP.Models.Matratt

<div class="div-single-product col-sm-5">
    <h3>@Model.MatrattNamn</h3>
    <p>@Model.Beskrivning</p>

    <ul>
        @foreach (var item in Model.MatrattProdukt)
        {
            <li>@item.Produkt.ProduktNamn</li>
        }
    </ul>

    <h4>@Model.Pris.ToString("c")</h4>
    <form asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.MatrattId" method="post"
          data-ajax="true" data-ajax="POST" data-ajax-mode="replace" data-ajax-update="#cart-navbar">
        <button type="submit" class="btn btn-primary">
            <i class="icon-shopping-cart"></i> Add To Cart
        </button>
    </form>
</div>