
@model PizzeriaASP.ViewModels.AdminEditViewModel


<input type="hidden" asp-for="Product.MatrattId"/>
@*<select asp-for="@Model.Product.MatrattProdukt" asp-items="@Model.Product.MatrattProdukt"/>*@

<div class="form-group">
    <label asp-for="@Model.Product.MatrattNamn"></label>
    <input asp-for="@Model.Product.MatrattNamn" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="@Model.Product.Beskrivning"></label>
    <textarea asp-for="@Model.Product.Beskrivning" class="form-control"></textarea>
</div>
<div class="form-group">
    <label asp-for="@Model.Product.MatrattTyp"></label>
    <select asp-for="@Model.Product.MatrattTyp" asp-items="@Model.ProductTypes" class="form-control">
        <option disabled selected value="">Select Type</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="@Model.Product.Pris"></label>
    <input asp-for="@Model.Product.Pris" class="form-control" />
</div>