@model PizzeriaASP.ViewModels.AdminEditViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Product.MatrattId"/>
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.Product.MatrattNamn"></label>
        <input asp-for="@Model.Product.MatrattNamn" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Beskrivning"></label>
        <textarea asp-for="@Model.Product.Beskrivning" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.MatrattTyp"></label>
        <select asp-for="@Model.Product.MatrattTyp" asp-items="@Model.ProductTypes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Pris"></label>
        <input asp-for="@Model.Product.Pris" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
