
@model PizzeriaASP.ViewModels.CategoryViewModel

@*<head>
    <link href="~/CSS/products.css" rel="stylesheet" />
</head>*@

<div class="btn btn-group-vertical">
    
    <a class="btn @("" == @Model.CurrentCategory ? "btn-primary" : "btn-secondary")"
       asp-controller="Product" asp-action="List" asp-route-category="">
        All
    </a>


    @foreach (string category in Model.Category)
    {
        <a class="btn @(category == @Model.CurrentCategory ? "btn-primary" : "btn-secondary")"
           asp-controller="Product" asp-action="List" asp-route-category="@category"
           asp-route-productPage="1">
            @category
        </a>
    }
</div>
